
.row{
    width: 680px;
    margin: 400px auto;
  
  
}

.sd2{
    position: absolute;
    content: '';
    width: 20%;/*71*/
    height:14%;
    top: 60px;
    left:30%;
    background-color: rgb(189, 24, 24);
    transform: perspective(300px) rotateY(-45deg);
    box-shadow: 10px 10px #ebaaaa;
    margin: 80px;
    text-align:center;
    color: #fff;
    font-size:20px;
    padding-bottom:22px ;


}



.image{

    height: 150px;
}


*{
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
  
}

.contact{
   display: flex;
   justify-content:right;
   justify-content: space-between;
   margin: 100px;
   color: green;
   line-height:70px;
   font-size: 20px;
 
}


    .input-icons i { 
        position: absolute; 
    } 
      
    .input-icons { 
        width: 100%; 
        margin-bottom: 10px; 
    } 
      
    .icon { 
        padding: 20px; 
        min-width: 40px; 
    } 
      
    .input-field { 
        width: 100%; 
        padding: 10px; 
        text-align:center; 
        border-radius: 5%;
        border-color: red;
    } 

    #msg{
        height: 150px;
    }
    button{
        height: 30px;
        width: 100px;
        margin-right: 90px ;
        background-color: #fff;
        border-color: red;
        border-radius: 5%;
        color: green;
        
    }