@import "variable.scss";

.row{
    width: 680px;
    margin: 400px auto;
  
  
}

.sd2{
    position: absolute;
    content: '';
    width: 20%;
    height:14%;
    top: 70px;
    left:30%;
    background-color: $color-one;
    transform: perspective(300px) rotateY(-45deg);
    box-shadow: 10px 10px $color-tree;
    margin: 80px;
    text-align:center;
    color: $color-four;
    font-size:20px;
    padding-bottom:22px ;


}



.image{

    height: 150px;
}


*{
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
  
}

.contact{
   display: flex;
   justify-content:right;
   justify-content: space-between;
   margin: 100px;
   color: $color-two;
   line-height:70px;
   font-size: 20px;
 
}


    .input-icons i { 
        position: absolute; 
    } 
      
    .input-icons { 
        width: 100%; 
        margin-bottom: 10px; 
    } 
      
    .icon { 
        padding: 20px; 
        min-width: 40px; 
    } 
      
    .input-field { 
        width: 100%; 
        padding: 10px; 
        text-align:center; 
        border-radius: 5%;
        border-color: $color-one;
    } 

    #msg{
        height: 150px;
    }
    button{
        height: 30px;
        width: 100px;
        margin-right: 90px ;
        background-color: $color-four;
        border-color: $color-one;
        border-radius: 5%;
        color:$color-two;
        
    }

    
@media (max-width: 1024px) {
    .image {
        float:right;
        margin-bottom: 20px;
    }
    }